html {
  background-color: black;
}

body {
  margin: 0;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;

  font-family: sans-serif;

  margin: 0;

  width: 100vw;
  height: 100vh;  
}

#controls {
  width: 100px;
  color: white;
  list-style-type: none;
}

.control {
  border-color: black;
  border-style: solid;
  border-width: 1px;
}

.control input {
  display: none;
}

.control input + label {
  background-color: #333;
  display: inline-block;
  width: 100%;
  padding: 1em;
  opacity: 0.5;
}

.control input:checked + label {
  opacity: 1;
}

svg {
  position: fixed;
  top: 0;
  left: 0;
  fill: none;
  stroke: white;
  stroke-width: 1px;
  opacity: 0;
  pointer-events: none;
}